    <div class="col-md-3">
      <h2>User info</h2>
      <table>
        <tbody>
          <tr>
            <th><%= image_tag @user.get_profile_image(100,100) %></th>
          </tr>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <span><%= link_to "edit", edit_user_path(@user.id) %></span>
      </div>

      <h2 class="mt-3">New book</h2>
      <% if @book.errors.any? %>
        <%= @book.errors.count %>件のエラーが発生しました
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= form_with model: @book do |f| %>
      <div class="form">
        <div class="field">
          <label>Title</label>
          <span><%= f.text_field :title %></span>
        </div>

        <div class="field">
          <label>Opinion</label>
          <span><%= f.text_area :body %></span>
        </div>

        <div class="create">
          <%= f.submit 'Create Book' %>
        </div>
      </div>
      <% end %>
    </div>
